<div class="card d-inline-block col-4">
<img class="card-img-top" src="{{product.imgUrl}}">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <h6 class="card-title">{{product.price}} EGP</h6>
    <button (click)="navigateTo('/productdetails/',product.product_id)" class="btn btn-info">Go to Item Page</button>
    <br>
    <button (click)="navigateTo('/cart/',{id:product.product_id})" class="btn btn-warning">Add to cart</button>
    <button (click)="navigateTo('/wishlist',{id:product.product_id})" class="btn btn-danger">Add to wishlist</button>
  </div>
  <br>
  </div>


<!--br>
<br>
<ng-container *ngFor="let product of products">
  <div *ngIf="product.product_id==id">
<div>
  <img class="card-img-top" src="{{product.imgUrl}}">
  <div class="card-body">
    <h3 class="card-title">Product Name: {{product.name}}</h3>
    <h4 class="card-title">Price: {{product.price}} EGP</h4>
    <button (click)="navigateTo('/cart/',{id:product.product_id})" class="btn btn-warning">Add to cart</button>
    <button (click)="navigateTo('/wishlist',{id:product.product_id})" class="btn btn-danger">Add to wishlist</button>
  </div>
</div>
</div>
</ng-container-->
