
<div class="regestir-div">
<br>
<h1>Register Form</h1>
<form class="form-horizontal" [formGroup] = "regestirForm" (ngSubmit)="regestir()">
  <div class="form-group">
    <label for="inputusername" class="col-sm-2 control-label">UserName</label>
    <div class="input-group mb-3">
      <input type="text" formControlName="userName" name="userName">
      <!--app-input [type]="'text'" [formcontrol]="userName" [formcontrolname]="'userName'" [group]="'regestirForm'"></app-input-->
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="input-group mb-3">
        <input type="email" formControlName="email" name="email">
      <!--app-input [type]="'email'" [formcontrol]="'email'" [formcontrolname]="'email'" [group]="'regestirForm'"></app-input-->
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="input-group mb-3">
        <input type="password" formControlName="password" name="password">
      <!--app-input [type]="'password'" [formcontrol]="'password'" [formcontrolname]="'password'" [group]="'regestirForm'"></app-input-->
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      <!--app-submit (submit)="regestir()" [button]="'Register'"></app-submit-->
    </div>
  </div>
</form>
</div>
